@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
 */
/* Ráiz da árvore do site */

@font-face {
    font-family: 'Montserrat';
    src: url('../fontes/Montserrat-Regular.ttf') format('opentype');
    font-weight: normal;

    font-family: 'OpenSans';
    src: url('../fontes/OpenSans-Regular.ttf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #040947;
    --cor1: #05479F;
    --cor2: #035cd1;
    --cor3: #040947;
    --cor4: #ffffff28;
    --cor5: #ffffff;
    --cor6: #ffffff28;
    --cor7: #5fc7e752;
    --cor9: #000000;
    --cor10: #5479C1;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Nunito", sans-serif;
    --fonte-texto: 'OpenSans', sans-serif;
    --fonte-text2: 'Montserrat', sans-serif;

}

body {
    height: 98vh;
    background-color: var(--cor7);
}

img {
    display: block;
    width: 100%;
    /* Coloca responsividade na imagem */
}

figure > figcaption{
    text-align: center;
    color: var(--cor3);
    
}

a {
    color: white;
    text-decoration: none;
}


a.links-artigo::after {
    content: "\1F517";

}

div.video{
    background-color: var(--cor10);
    margin: 0px -21px 30px -21px;
    padding: 20px;
    padding-bottom: 57%; /* Retira a barra preta da lateral do video do yb */
    position: relative;
}

div.video > iframe {
    position: absolute;
    top:5%;
    left:5%;
    width: 90%;
    height: 90%;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    font-family: var(--fonte-destaque);
    font-weight: bold;
}

main ul{
    text-indent: 20px;
    font-size: 1em;
    line-height: 2em;

}

main li{
    margin-top: 15px;
    font-size: 1em;
}
main a {
    font-family: var(--fonte-destaque);
    background-color: var(--cor7);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 0px;
    color: var(--cor3);
}

main a:hover {
    text-decoration: underline;

}

main h1 {
    text-transform: uppercase;
    color: var(--cor10);
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 1.8em;

}

main h2 {
    font-family: var(--fonte-destaque);
    background-image: linear-gradient(to right, #6C8CC9, transparent);
    color: white;
    font-weight: normal;
    padding: 0.1em;
    margin: 1em 0px;
    text-align: left;
    font-size: 1.3em;
    text-transform: uppercase;
    line-height: 1.3em;
}



header {
    min-height: 195px;
    padding-top: 30px;
    background-image: linear-gradient(to top, var(--cor10), var(--cor1));
    color: white;
    box-shadow: 05px 3px 10px 0px rgba(0, 0, 0, 0.274);
}

header>h1, h2 {
    text-align: center;

}

header>h1 {
    font-family: var(--fonte-destaque);
    margin-bottom: 25px;
    font-size: 2.7em;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: -2px 1px 10px #000000b8;
}

header>h2 {
    font-family: var(--fonte-texto);
    font-size: 1em;
    font-weight: normal;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: -2px 3px 7px #000000b8;
}

nav {
    display: flex;
    flex-direction: row;

}

nav>li {
    list-style: none;
    margin-top: 30px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    text-shadow: 1px 1px 3px #0000004b;

}


nav>li:hover {
    background-color: var(--cor4);
    border-radius: 0.5em 0.5em;
    transition-duration: 0.3s;
}



main {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 320px;
    /* 320px é a largura mínima de celulares antigos */
    max-width: 1000px;
    /*  A partir de 800px de largura, vai começar a quebra */
    margin: auto;
    margin-bottom: 30px;
    background-color: var(--cor5);
    padding: 0.5% 1%;
    font-family: var(--fonte-texto);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.274);
}


aside{
    color:black;
    background-color: rgba(197, 197, 197, 0.295);
    padding: 10px;
    border-radius: 10px;
    font-family: var(--fonte-texto);
    font-size: 1em;
    line-height: 2em;
    box-shadow: 3px 3px 8px #0000002f;
}

aside > ul, aside > ol{
    list-style-position: inside;
    columns: 3;
    list-style-type: '\2714\00A0'; /* Não é compatível com todo tipo de navegador */
}


aside > h3 {
    background-color: var(--cor10);
    color: white;
    padding: 10px;
    margin: -10px -11px 0px -11px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    font-family: var(--fonte-texto);
    font-size: 0.8em;
    padding: 5px;
    text-align: center;
    color: white;
    background-color: var(--cor10);
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: black;
}